<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  for entrepreneurs and developers to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui tempora, vitae itaque esse, eveniet aut quo, tenetur laudantium unde ad fugit laboriosam saepe quod est dolores atque iure voluptate sit.</p>
</div>